[user]
	email = eythan.cvt@gmail.com
	name = eythaann
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
[safe]
	directory = C:/Users/dlmqc/.dotfiles
	directory = C:/Users/dlmqc/.dotfiles/DeepType-Theme
