[user]
	email = eythan.cvt@gmail.com
	name = eythaann
	signingkey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[safe]
	directory = C:/Users/dlmqc/.dotfiles
	directory = C:/Users/dlmqc/.dotfiles/DeepType-Theme
[commit]
	gpgsign = true
